#main {
    height: 50vh;
    width: 50wh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.block {
    display: flex;
}
.block * {
    background-color: aliceblue;
    border: 2px solid aqua;
    border-radius: 5px;
}

.header > * {
    flex: 1;
}

.content {
    height: 50%;
}
.content .small{
    flex: 1;
}
.content .big {
    flex: 3;
}

.footer > *{
    flex: 1;
}