#e3 .container {
    display: flex;
    flex-wrap: wrap;
}

#e3 .item {
    flex-basis: 33%;
}

/* 
    Комент по решению - я говорю ему чтобы переносил строку flex-wrap:wrap;
    так как flex-basis (дефолтный размер элемента) не может быть 33% без переноса,
    убери flex-wrap и увидешь что будет
    
*/